<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ANTTWEAKBAR_116_OGLCORE_GLFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BulletCollision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>BulletDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>BulletSoftBody.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>GLEW_190.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GLFW_303.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LinearMath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>assimp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>tutorial14_render_to_texture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02CE3E9ADC3343529A53C486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C17346801E349D6A25E040F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BDD5DA9C894459E94E0C9D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D393152AF654E5FADF0ED1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>60B564F58E7A45F8AE152E5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96798264E1364C28B1B2773D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97AA79A5D7104BD9A8843B9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2FE9AAA258049F28DB605DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D459A6FD6CDE4860BE6CADFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D76F9F41721E44AC8FFBB8EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2503D45D3A24958B056BE99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE21D800FDB8493180B6DD67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCD8D838B73042FD8C9A42BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
