<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ANTTWEAKBAR_116_OGLCORE_GLFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BulletCollision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>BulletDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>BulletSoftBody.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>GLEW_190.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GLFW_303.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LinearMath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>assimp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>tutorial14_render_to_texture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>240F17C1B6134DD1A116100F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32B650D1A7ED484B8A2514F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>57BD0462A7794033B46EF25D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6369C712B7C74EAF825DAB77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75EF8B16E77F42728A9958FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DC5590EF35C44ADB934F462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>941ECA9AB4AC420DB9CA20EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C272F3173BC47BE8E323DE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A42FF55A55D5481CB0639E0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A53DBEBB7D3A44E29479807E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABDFD7DE569C4548B3EDD16D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6202630573C44CB953414A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F341F26CF8514CBB98622628</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
