<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ANTTWEAKBAR_116_OGLCORE_GLFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BulletCollision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>BulletDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>BulletSoftBody.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>GLEW_190.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GLFW_303.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LinearMath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>assimp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>tutorial14_render_to_texture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4007DFDD49B449CDA53EB0E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CB1026075844A85AB087E2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67CFC3D1CE9342F3AD802CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>744C255BE48D445C9AFFA201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8AAA9815A8554D19AD2176AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98AD8C8F5DA7454B8CAB723D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A53BF39C64384C13BDC5D43B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4EF094E298C443E9F884108</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C39EDDBB0CE24F43A880748E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3FF169D500D42E9826288F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD58E1411CE740F88E98A382</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F55889CC5C4248A68F4F8332</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7CC0B0DBDB24AA48297147D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
